<h1><%= @user.name %>'s Profile</h1>

<h3><%= link_to pluralize(@user.beers.count, "beer"), user_beers_path(@user.id) %> </h3>

<%= render 'shared/stats' %>

<%= render 'follow_form' if user_signed_in? %>


<% if @user == current_user %>
    <h3>Add beer</h3>
    <%= render 'beers/form' %>
<% end %>

<%= render 'beers/table' %>