<div class="row">
    <form class="col s12">
      <div class="row">
    <%= form_for(@beer) do |f| %>

    <div class="input-field col s6">
      <%= f.label :Brewery %>
      <%= f.text_field :brewery %>
    </div>

    <div class="input-field col s6">
      <%= f.label :Name %>
      <%= f.text_field :name %>
    </div>

    <div class="input-field col s6">
      <%= f.label :Style %>
      <%= f.text_field :style %>
    </div>

    <div class="input-field col s6">
      <%= f.label :Description %>
      <%= f.text_area :description, id: "textarea1", class: "materialize-textarea" %>
    </div>

    <div class="col s6">
      <%= f.label :Bottle_Date %>
      <%= f.date_field :date, class: "datepicker" %>
    </div>

    <div class="col s6">
      <%= f.label :Cellar_Date %>
      <%= f.date_field :cellar_date %>
    </div>

    <div class="col s6">
      <%= f.label :rating %>
      <%= f.range_field :rating, id: "test5", min: "0.0", max: "5.0" %>
    </div>

      <%= f.submit "Add" %>

    <% end %>
</div>