<nav class="nav navbar inverse">
    <ul class="footer_left">
        <li id="logo">
            <%= link_to "Home", root_url %>
        </li>
    </ul>
    <ul class="footer_right">
        <li> <%= link_to "About", about_url %></li>
        <li><%= link_to "Contact", contact_url %></li>
<% if user_signed_in? %>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Log out", sign_out_url %></li>
<% else %>
        <li><%= link_to "Sign up", sign_up_url %></li>
        <li><%= link_to "Log in", log_in_url %></li>
<% end %>
    </ul>
</nav>
